*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.App {
  background-color: white;
  background: linear-gradient(to right, rgb(235, 219, 241), rgb(245, 244, 246));
 
}

.allcards {
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-gap: 20px;
  justify-content: space-evenly; 
}

.loader {
  display: flex;
  justify-content: center;
  background-color: white;
  padding-top: 220px;
}

@media screen and (max-width: 600px) {
  .allcards {
    grid-template-columns: repeat(1,auto);
  }
}
